<footer class="page-footer #616161 grey darken-2">
       <div class="container">
         <div class="row">
           <div class="col s6">
             <a href='/students' class="brand-logo "><h4>DASH</h4></a>
             <h5 class="grey-text text-lighten-4">Teachers and parents - together.</h5>
           </div>
           <div class="col s6">
           </div>
         </div>
       </div>
       <div class="footer-copyright">
         <div class="container">
         © 2018 DASH
         </div>
       </div>
     </footer>
