<nav>
  <div class="nav-wrapper #616161 grey darken-2
">
<a href="students#index" class="brand-logo">DASH</a>
<a href="#" data-activates="mobile-demo" class="button-collapse">
<i class="material-icons">menu</i>
</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
<% if logged_in? %>
<li><%= @current_user.name %></li>
<li><a href="/logout">Log Out</a></li>
<li><a href="/conversations">Messages</a></li>
<li><a href="/users">Users</a></li>
<li><a href="/feedbacks">Your Feedback</a></li>
<li><a href="/courses">Your Courses</a></li>
<!-- <li><a href="/dashboard">Dashboard</a></li> -->
<li><a href="/students">Your Students</a></li>
<% else %>
<br>
<li><a href='/signup'>Sign Up</a></li>
<li><a href='/login'>Log In</a></li>
<% end -%>
</ul>
<ul id="mobile-demo" class="side-nav">
<% if logged_in? %>
<li><%= @current_user.name %></li>
<li><a href="/logout">Log Out</a></li>
<li><a href="/conversations">Messages</a></li>
<li><a href="/users">Users</a></li>
<li><a href="/feedbacks">Your Feedback</a></li>
<li><a href="/courses">Your Courses</a></li>
<!-- <li><a href="/dashboard">Dashboard</a></li> -->
<li><a href="/students">Your Students</a></li>
<% else %>
<br>
<li><a href='/signup'>Sign Up</a></li>
<li><a href='/login'>Log In</a></li>
<% end -%>
</ul>
</div>
</nav>
