<ul class="dropdown-content" id="dropdown1">
<% if logged_in? %>
<li><%= @current_user.name %></li>
<li><a href="/logout">Log Out</a></li>
<li><a href="/conversations">Messages</a></li>
<li><a href="/users">Users</a></li>
<li><a href="/feedbacks">Your Feedback</a></li>
<li><a href="/courses">Your Courses</a></li>
<!-- <li><a href="/dashboard">Dashboard</a></li> -->
<li><a href="/students">Your Students</a></li>
<% else %>
<li><a href='/signup'>Sign Up</a></li>
<li><a href='/login'>Log In</a></li>
<% end -%>
</ul>
<nav>
  <div class="nav-wrapper">
    <a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="mdi-navigation-arrow-drop-down right"></i></a>
  </div>
</div>
</nav>
