<nav>
  <div class="nav-wrapper #616161 grey darken-2
">
<a href='/students' class="brand-logo"><h4>DASH</h4></a>
<a href="#" data-activates="mobile-demo" class="button-collapse">
<i class="material-icons">menu</i>
</a>
<ul id="nav-mobile" class="right hide-on-med-and-down">
<% if logged_in? %>
<li><%= @current_user.name %></li>
<li><a href="/logout">Log Out</a></li>
<li><a href="/conversations"><i class="material-icons left">message</i>Messages</a></li>
<li><a href="/users"><i class="material-icons left">person</i>Users</a></li>
<li><a href="/feedbacks"><i class="material-icons left">content_paste</i>Feedback</a></li>
<li><a href="/courses"><i class="material-icons left">school</i>Your Courses</a></li>
<li><a href="/students"><i class="material-icons left">child_care</i>Your Students</a></li>
<% else %>
<li><a href='/signup'>Sign Up</a></li>
<li><a href='/login'>Log In</a></li>
<% end -%>
</ul>
<ul id="mobile-demo" class="side-nav #616161 grey darken-2">
<% if logged_in? %>
<li><%= @current_user.name %></li>
<li><a href="/logout">Log Out</a></li>
<li><a href="/conversations"><i class="material-icons left">message</i>Messages</a></li>
<li><a href="/users"><i class="material-icons left">person</i>Users</a></li>
<li><a href="/feedbacks"><i class="material-icons left">content_paste</i>Your Feedback</a></li>
<li><a href="/courses"><i class="material-icons">school</i>Your Courses</a></li>
<li><a href="/students"><i class="material-icons left">child_care</i>Your Students</a></li>
<% else %>
<br>
<li><a href='/signup'>Sign Up</a></li>
<li><a href='/login'>Log In</a></li>
<% end -%>
</ul>
</div>
</nav>
