<% if logged_in? %>
<%= @current_user.name %>
      <li><a href="/logout">Log Out</a></li>
        <li><a href="/conversations">Messages</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/feedbacks">Your Feedback</a></li>
        <li><a href="/courses">Your Courses</a></li>
      <% else %>
      <li><a href='/signup'>Sign Up</a></li>
      <li><a href='/login'>Log In</a></li>
      <li><a href='/comment'></a></li>
      <% end -%>
