

@import "materialize";

 #conversation-body {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 2em;
}

#alert {
  color: red;
}

ul{
  list-style-type: none;
}


main{
  border: 5px solid crimson;
  text-align: center;
}

nav li {
  display: inline-block;
}
